.avatar {
  width: 140px;
  padding: 4px;
  border: 2px solid black;
  border-radius: 100px;
  /* margin-bottom: 15px; */
}

@media only screen and (max-width: 600px) {
  .avatar {
    margin-top: 40px;
  }
}

.main-name {
  margin: 0;
  margin-top: 10px;
  font-size: 28px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.subtitle {
  margin-top: 0;
  font-style: italic;
}

.sections-list::before,
.sections-list::after {
  display: inline-block;
  content: "";
  border-top: 1px solid black;
  width: 4rem;
  margin-top: 0;
  margin-bottom: -10px;
  cursor: pointer;
  transform: translateY(-1rem);
}

.section-list-element {
  font-size: 21px;
  margin: 8px;
  font-family: "Comic Sans MS", sans-serif;
  /* padding: 12px; */
  font-weight: 600;
  /* display: inline-block; */
  position: relative;
  color: #0087ca;
  cursor: pointer;
}

.section-list-element:after {
  content: "";
  position: absolute;
  width: 40%;
  cursor: pointer;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 30%;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.section-list-element:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
