.about-container {
  font-size: 17px;
  white-space: pre-wrap;
}
.icon-element {
  transition-duration: 0.5s;
}
.icon-element:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.icon-element:after {
  transform: rotate(180deg);
}
.fa {
  float: left;
}
.contact-element:hover {
  color: rgb(29, 80, 80);
}
